# Copia para .env na raiz do projeto antes de correr docker compose

# Obtém a tua chave gratuita em: https://console.groq.com/keys
GROQ_API_KEY=gsk_**************************************************
GROQ_MODEL=llama-3.3-70b-versatile

QDRANT_HOST=localhost
QDRANT_PORT=6333
QDRANT_COLLECTION=sunrise_apoio_legal_api

SITE_URL = https://sunrise.thongalandschoolofexcellence.co.za/
API_BACKEND_URL = http://localhost:8000